$white = #FFF
$red = #e61737
$brown = #1c1713
$dkred = #5a0f05
$gray = #9d9d9d
$gold = #ac7c44
$yellow = #ffa400
$dkgray = rgba(53, 52, 58, .9)
$ltgray = #b2b1b1
$btred = #ff1035
$pink = #edb1b1